header {
    background-color: aqua;
}
header image{
    text-align: center;
}
header div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#home {
    text-align: center;
    background-color: red;
}
#img_cimetery {
     z-index: -1;
}
footer {
    text-align: center;
    background-color: blue;
}